.about-wrapper{
    position: absolute;
    background-color: #FFFFFF;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    top: 25%;
    padding: 5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #333333;
}
.height{
    height: 130vh;
}
.margin-bottom{
   margin-bottom: 1.5rem;
   font-weight: 600;
   font-size: 1.4rem; 
}

.waarden{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.doelen, .missie{
    background-color: #333333;
    color: #FFFFFF;
    margin-top: 5rem;
    padding: 3rem 4rem;
    border-radius: 0.5rem;
}